<h1>Admin Dashboard</h1>

<h2><%= link_to "All Groups", admin_groups_path %></h2>
<h2><%= link_to "All Events", admin_events_path %></h2>
<h2><%= link_to "All Interests", admin_interests_path %></h2>
