<div class="row">
  <div class="col-md-12">

    <table class="table">

      <thead>
        <!-- First column name can be empty if row name is explanatory -->
        <th></th>
        <th>Column name</th>
        <th>2nd Column Name</th>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Row Name</th>
            <td>2nd Row 1st Column Content</td>
            <td>2nd Row 2nd Column Content</td>
        </tr>
        <tr>
          <th scope="row">Second Row Name</th>
            <td>2nd Row 1st Column Content</td>
            <td>2nd Row 2nd Column Content</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
