<h1><%= @group.name %></h1>

<h3>Interests:
  <% @group.interests.each do |interest| %>
    <%= link_to interest.name, interest_path(interest) %>
  <% end %>
</h3>

<div class="container">
    <h3>Events</h3>
    <table class="table">
      <tbody>
        <% @group.events.each do |event| %>
          <tr>
            <th scope="row" class="text-center"><%= link_to event.name, event_path(event) %> - <%= event.human_dates[0] %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
