<h1>Your Dashboard</h1>

<h2> <%= link_to "Your Groups", default_user_groups_path %></h2>
<h2> <%= link_to "Your Events", default_user_events_path %></h2>
<h2> <%= link_to "Your Interests", default_user_interests_path %></h2>
