<h1>All Interests</h1>

<div class="row">
  <div class="col-md-12">

    <table class="table">

      <!-- Change table to have first upcoming event for interest instead of event count -->
      <!-- Change table to have group with most events in that interest instead of group count -->

      <thead>
        <th>Interest</th>
        <th>Group Count</th>
        <th>Event Count</th>
      </thead>

      <tbody>
        <% @interests.each do |interest| %>
        <tr>
          <th scope="row"><%= link_to interest.name, interest_path(interest) %></th>
            <td> <%= interest.groups.count %></td>
            <td> <%= interest.events.count %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
