<h1>All Users</h1>

<h4><%= link_to "Create New User", new_admin_user_path %></h4>

<div class="row">
  <div class="col-md-12">

    <table class="table">

      <thead>
        <th>Username</th>
        <th>Group Count</th>
        <th>Contact for:</th>
        <th>Event Count</th>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Row Name</th>
            <td>2nd Row 1st Column Content</td>
            <td>2nd Row 2nd Column Content</td>
        </tr>
        <tr>
          <th scope="row">Second Row Name</th>
            <td>2nd Row 1st Column Content</td>
            <td>2nd Row 2nd Column Content</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
